*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(62, 221, 221);
}
.container{
    position: relative;
}
.clock{
    background-color:rgb(203, 144, 34);
    height: 300px;
    width: 300px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .num{
    position:absolute;
    color: rgb(73, 73, 195);
    transform: rotate( calc(30deg * var(--i)));
    inset: 12px;
    text-align: center;
    font-size: 20px;
}
.num b{
    transform: rotate( calc(-30deg * var(--i)));
    display: inline-block;
}
.clock::before{
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: whitesmoke;
    z-index: 2;
}
.hand{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hand i{
    position: absolute;
    background-color: var(--clr);
    width: 4px;
    height: var(--h);
    border-radius: 8px;
}
